{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=(localdb)\\MSSQLLocalDB;Database=BevosTunes;Trusted_Connection=True;TrustServerCertificate=True;"
  },
  "Email": {
    "SmtpHost": "smtp.gmail.com",
    "SmtpPort": 587,
    "FromAddress": "",
    "AppPassword": "",
    "SubjectPrefix": "Team 7:",
    "GradingInbox": ""
  }
}
